    <div class="row">
        <div class="col-4">
            <form action="/dogs" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="dog" placeholder="Name the Dog">
                    <input type="submit" class="btn btn-secondary" value="Create">
                </div>
            </form>
        </div>
    </div>
